@use '../abstracts/' as *;

.page {
   @include page-template($background-color, $text-color);
   justify-content: flex-start;
   padding-left: 1em;
   padding-right: 1em;
}

.noteContainer {
   border-top: 0.1em solid $shadow-color;
   background-color: $lighter-background;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   width: 100%;
   min-height: 50vh;
   padding: 2em;
   gap: 1em;
}
