@use '../abstracts' as *;

.page {
   @include page-template($background-color, $text-color);
}

.page h6 {
   color: grey;
}

.titletext {
   background: linear-gradient(to right, $red, $blue, $green);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.directory {
   display: flex;
   gap: .3em;
}

.directory input {
   width: 50vw;
   height: 100%;
   padding: 1em;
}

.directory button {
   background-color: $lighter-background;
   color: $text-color;
   width: 10vw;
   border: none;
}

.formButtons button {
   width: 50%;
   margin-bottom: 2em;
}

.nameInput input {
   width: 50%;
}
