@use '../abstracts' as *;


.page {
   @include page-template($background-color, $text-color);
   justify-content: center;
   text-align: left;
   padding-left: 2em;
   padding-right: 2em;
}

.page p {
   white-space: pre-line;
}