@use '../abstracts' as *;

.page {
   @include page-template($background-color, $text-color);
   align-items: flex-start;
   flex-direction: row;
   text-align: left;
   // height: 300vh;
   // padding-left: 2em;
   // padding-right: 2em;
}

.page button {
   position: absolute;
   z-index: 3;
}

.editor {
   width: 50%;
   height: fit-content;
   overflow: scroll;
   padding-left: 1em;
   padding-right: 1em;
}

.editor::-webkit-scrollbar {
   display: none;
}

.preview {
   height: 100%;
   width: 50%;
   overflow: hidden;
   padding: 1em;
}

.page p {
   white-space: pre-line;
}
