@mixin layout-template($bg, $text, $outline) {
   background-color: $bg;
   color: $text;
   outline: 0.2rem $outline solid;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
}

@mixin page-template($bg, $text) {
   background-color: $bg;
   color: $text;
   font-size: calc(10px + 2vmin);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
