@use '../abstracts/' as *;

.header {
   @include layout-template($background-color, $text-color, $text-color);
}

.footer {
   @include layout-template($background-color, $text-color, $text-color);
}

.title-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0em 1em;
   height: 2.5em;
   background-color: $lighter-background;
   color: $text-color;
   position: fixed;
   // top: 0;
   width: 100%;
   user-select: none;
   -webkit-app-region: drag;
   box-shadow: 1px 1px 20px $lighter-background;
}

.title-bar h3 {
   -webkit-app-region: no-drag;
   font-size: 1.5em;
}

.title-bar h3:hover {
   transition: all 1s ease-in;
   background: linear-gradient(to right, $red, $blue, $green);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.control-buttons {
   display: flex;
   align-items: center;
   height: 100%;
   // font-size: 2em;
}

.control-buttons button {
   color: white;
   -webkit-app-region: no-drag;
   background-color: transparent;
   border: 0;
   cursor: pointer;
   height: 100%;
   min-width: 3vw;
}

.control-buttons button:hover {
   background-color: $text-color;
   color: black;
}

.control-buttons .quitBtn:hover {
   background-color: red;
   color: white;
}
